$box-shadow: 0px 5px 5px #D3D3D3;
$location-shadow: 0px -5px 5px #D3D3D3;
$text-font: Roboto;
$logo-font: Shrikhand;
$btn-background: linear-gradient(170deg, #ff79da, #9356dc);
$main-background: linear-gradient(white, #eaeaea);
$footer-background: #353535;
$footer-color: white;





/* main with location, presentation,steps and restaurants section */


/* styling for computer screen which has screen resolution minimun 998px*/
@media only screen and (min-width: 998px) {

    /* styling for how this website works*/
    #website-methodology {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-family: $text-font;
        width: 100% !important;
        padding: 20px 2% !important;


        .selection {
            display: flex;
            width: 100% !important;
            flex-direction: row;
            flex-wrap: nowrap;
            white-space: nowrap;
            gap: 10px;
            padding-left: 2%;
            cursor: pointer;
            transition: 250ms;

            .selection-box {
                display: flex;
                flex-direction: row;
                align-items: center;
                white-space: nowrap;
                text-align: center;
                box-sizing: border-box;
                background: #f6f6f6;
                width: 30% !important;
                margin: 5px;
                border-radius: 50px !important;
                padding: 30px !important;
                height: 30px !important;
                font-size: 16px;

                .selection-box__number {
                    box-sizing: border-box;
                    border-radius: 50%;
                    background: #9356dc;
                    width: 30px !important;
                    height: 30px !important;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: -40px;
                }

                .selection-box__detail {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    gap: 5% !important;
                    margin: 20px;
                    font-size: larger;

                }
            }
        }


    }

    /* styling for section for restaurants*/
    #section-restaurants {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        background-color: #f6f6f6;
        font-family: $text-font;
        width: 100% !important;

        .section-restaurants__title {
            padding-left: 2%;
        }


        .section-restaurants--cards {
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            padding-left: 2%;

            .section-restaurants__card {
                box-shadow: $box-shadow;
                margin: 1rem;
                border-radius: 20px !important;
                background-color: white;
                max-width: 45% !important;
                height: fit-content !important;
                overflow: hidden;
                margin-bottom: 20px !important;
                flex: 100% !important;

                .section-restaurants__link {
                    text-decoration: none;
                    color: black;

                    .section-restaurants__new-and__img {
                        position: relative;
                        width: 90vw !important;
                        max-width: 100%;

                        .section-restaurants__new {
                            background-color: #99e2d0;
                            color: #1a8a68;
                            display: block;
                            text-align: center;
                            position: absolute;
                            width: 80px !important;
                            height: 2em !important;
                            line-height: 0.1em;
                            font-weight: bold;
                            right: 2em !important;
                            top: 1em !important;
                            white-space: nowrap;
                            z-index: 1;
                            font-weight: bold;
                        }

                        .section-restaurants__card__img {
                            width: 100% !important;
                            height: 300px;
                            object-fit: cover;
                            border-top-left-radius: 20px;
                            border-top-right-radius: 20px;
                        }

                    }

                }

                .section-restaurants__details {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding: 0 4%;

                    .section-restaurants__link_details {
                        text-decoration: none;
                        color: black;
                    }

                    .section-restaurants__details__heart {
                        font-size: x-large;
                        height: 20px !important;
                        display: flex;
                        margin-top: 20px;
                        cursor: pointer;

                        i {
                            display: block;
                        }

                        i.fas {
                            display: none;
                        }

                        &:hover i.far {
                            display: none;
                        }

                        &:hover i.fas {
                            display: block;
                            color: #9356dc;
                        }
                    }

                }


            }
        }
    }





    /* styling for restaurants website page*/

    /* styling for header-restaurants*/

    body {
        overflow-x: hidden;


        #header-restaurants {
            width: 100% !important;
            padding: 40px;

            .header-restaurants__link {
                display: flex;
                align-items: center;
                text-align: center;
                text-decoration: none;
                color: black !important;

                .header-restaurants__link_logo {
                    font-family: $logo-font;
                    position: absolute;
                    left: 40%;
                    transform: translate(-20%, 0%);
                }
            }
        }

        #restaurant-main-section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100%;

            .restaurant-main-section__img {
                object-fit: cover;
                width: 100%;
                height: 40%;
            }

            .restaurant-main-section__box__important {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;

                .restaurant-main-section__box__title {
                    flex-wrap: wrap;
                    width: 100%;
                    justify-content: space-between;
                    box-sizing: border-box;
                    border-top-left-radius: 100px;
                    border-top-right-radius: 100px;
                    background: $main-background;
                    margin-top: -200px;

                    .restaurant__name_heart {
                        display: flex;
                        align-items: center;
                        text-align: center;
                        justify-content: space-between;
                        padding: 2% 5%;
                        font-family: $logo-font;
                        font-size: larger;

                        .far {
                            font-size: x-large;
                        }
                    }

                    .restaurant--food--section {
                        display: flex;
                        flex-direction: row;
                        width: 100%;
                        font-family: $text-font;
                        flex-wrap: wrap;
                        padding-left: 2%;

                        .restaurant--courses--section {
                            width: 30%;
                            margin: 10px;

                            .restaurant--dish {
                                margin: 3%;
                                font-size: large;

                                .underline--h3 {
                                    width: 50px;
                                    height: 3px;
                                    background-color: #99e2d0;
                                    margin-top: -20px;
                                    padding: 0;
                                    margin-left: 0;
                                }
                            }

                            .dish__menu__card {
                                white-space: nowrap;
                                display: flex;
                                box-sizing: border-box;
                                border-radius: 20px;
                                box-shadow: $box-shadow;
                                background: white;
                                height: auto;
                                margin: 3%;
                                cursor: pointer;
                                text-overflow: ellipsis;
                                overflow: hidden;

                                animation-name: slideFromTop;
                                animation-duration: 2.5s;
                                animation-fill-mode: backwards;

                                &:hover {
                                    .card__check {
                                        background-color: #99e2d0;
                                    }

                                    .order__details {
                                        .dish__price {
                                            transform: translateX(-200%);
                                        }
                                    }

                                    .card__check .fas.fa-check-circle {
                                        animation: rotateIcon 1s linear 1;
                                    }
                                }

                                .order__details {
                                    display: flex;
                                    flex-direction: column;
                                    padding: 0 4%;
                                    width: 100%;

                                    .restaurant__menu__dish {
                                        padding: 0 2%;
                                    }

                                    .restaurant__menu__ingridents {
                                        display: flex;
                                        flex-direction: row;
                                        align-items: center;
                                        justify-content: space-between;
                                        padding: 0 2%;
                                    }

                                    .dish__price {
                                        margin-right: -70px;
                                        transition: transform 200ms;
                                        font-weight: bold;
                                    }
                                }

                                .card__check {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background-color: transparent;
                                    transition: background-color 200ms;
                                    font-size: x-large;

                                    .fas.fa-check-circle {
                                        color: white;
                                        width: 70px;
                                        text-align: center;
                                        align-items: center;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

}






@keyframes slideFromTop {
    0% {
        transform: translateY(10%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes rotateIcon {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(130deg);
    }
}

















/* styling for tablet screen which has screen resolution minimun 768px and maximum 998px */

@media only screen and (min-width: 768px) and (max-width:998px) {}




/* styling for mobile screen which has screen resolution maximum 768px */
@media only screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
        width: 100%;

        /*styling for homyfood main page*/

        #header-index {
            display: flex;
            justify-content: center;
            margin-top: 5px;
            box-sizing: border-box;
            box-shadow: $box-shadow;
        }

        #main-section {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            width: 100% !important;

            #website-location {
                display: flex;
                width: 100% !important;
                background-color: #eaeaea !important;
                height: 70px;
                justify-content: center;
                align-items: center;
                font-family: $text-font;
                box-sizing: border-box;
                box-shadow: $location-shadow;
                gap: 2%;
                font-weight: bold;

                /* location of ohmyfood */
                #description-website {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    background: $main-background;
                    font-family: $text-font;
                    justify-content: center;
                    align-items: center;
                    padding-bottom: 4%;

                    .explore-btn {
                        display: flex;
                        justify-content: center;
                        text-align: center;
                        align-items: center;
                        height: 45px;
                        color: white !important;
                        border-radius: 50px !important;
                        box-shadow: 4px 4px 2px #D3D3D3;
                        max-width: 250px !important;
                        cursor: pointer;
                        transition: 250mssss;
                        background: linear-gradient(170deg, #ff79da, #9356dc);
                        border: none;
                        font-size: large;
                        padding: 15px;
                    }
                }
            }

            /* styling for how this website works*/
            #website-methodology {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                font-family: $text-font;
                width: 100% !important;
                padding: 3% 2% !important;

                .methodology-title {
                    padding-left: 2vw;
                }


                .selection {
                    display: flex;
                    width: 100% !important;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    white-space: nowrap;
                    gap: 3vw;
                    cursor: pointer;
                    transition: 250ms;
                    margin-left: 2vw;


                    .selection-box {
                        display: flex;
                        width: 100%;
                        flex-direction: row;
                        align-items: center;
                        white-space: nowrap;
                        text-align: center;
                        box-sizing: border-box;
                        background: #f6f6f6;
                        width: fit-content !important;
                        margin: 0 10px;
                        border-radius: 50px !important;
                        padding: 1vw 30px !important;
                        font-size: 3vw;

                        .selection-box__number {
                            box-sizing: border-box;
                            border-radius: 50%;
                            background: #9356dc;
                            width: 5vw !important;
                            height: 5vw !important;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            margin-left: -40px;
                        }

                        .selection-box__detail {
                            display: flex;
                            flex-direction: row;
                            justify-content: center;
                            align-items: center;
                            text-align: center;
                            gap: 5% !important;
                            font-size: 4vw !important;
                            padding-left: 5vw !important;

                        }
                    }
                }
            }

            /* styling for section for restaurants*/
            #section-restaurants {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                background-color: #f6f6f6;
                font-family: $text-font;
                width: 100% !important;

                .section-restaurants__title {
                    padding-left: 5vw;
                }


                .section-restaurants--cards {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 100%;
                    height: 100%;

                    .section-restaurants__card {
                        box-shadow: $box-shadow;
                        margin: 1rem;
                        border-radius: 20px !important;
                        background-color: white;
                        max-width: 95% !important;
                        height: 50% !important;
                        overflow: hidden;
                        margin-bottom: 20px !important;
                        flex: 100% !important;


                        .section-restaurants__link {
                            text-decoration: none;
                            color: black;

                            .section-restaurants__new-and__img {
                                position: relative;
                                width: 100% !important;
                                max-height: 40%;
                                max-width: 100%;

                                .section-restaurants__new {
                                    background-color: #99e2d0;
                                    color: #1a8a68;
                                    display: block;
                                    text-align: center;
                                    position: absolute;
                                    width: 80px !important;
                                    height: 2em !important;
                                    line-height: 0.1em;
                                    font-weight: bold;
                                    right: 2em !important;
                                    top: 1em !important;
                                    white-space: nowrap;
                                    z-index: 1;
                                    font-weight: bold;
                                }

                                .section-restaurants__card__img {
                                    width: 100% !important;
                                    height: 200px;
                                    object-fit: cover;
                                    border-top-left-radius: 20px;
                                    border-top-right-radius: 20px;
                                }

                            }

                        }

                        .section-restaurants__details {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding: 0 4%;

                            .section-restaurants__link_details {
                                text-decoration: none;
                                color: black;
                            }

                            .section-restaurants__details__heart {
                                font-size: x-large;
                                height: 20px !important;
                                display: flex;
                                margin-top: 20px;
                                cursor: pointer;

                                i {
                                    display: block;
                                }

                                i.fas {
                                    display: none;
                                }

                                &:hover i.far {
                                    display: none;
                                }

                                &:hover i.fas {
                                    display: block;
                                    color: #9356dc;
                                }
                            }

                        }


                    }
                }

            }
        }

        /*styling footer for ohmyfood website*/
        #footer__ohmyfood {
            display: flex;
            flex-direction: column;
            font-family: $text-font;
            width: 100%;
            color: $footer-color;
            background-color: $footer-background;
            padding-bottom: 3%;

            .footer-logo {
                font-family: $logo-font;
                font-size: xx-large;
                padding-left: 3%;
            }

            .footer-info {
                display: flex;
                flex-direction: row;
                align-items: center;
                text-align: center;
                gap: 1%;
                padding-left: 3%;
            }

            .contact_address {
                text-decoration: none;
                color: $footer-color;
                padding-left: 3%;
            }

            .footer_legal {
                padding-left: 3%;
            }
        }



        /* styling for restaurants web page for mobile version */
        body {
            overflow-x: hidden;


            #header-restaurants {
                width: 100% !important;
                padding: 40px;
                margin-bottom: -20px;

                .header-restaurants__link {
                    display: flex;
                    align-items: center;
                    text-align: center;
                    text-decoration: none;
                    color: black !important;

                    .header-restaurants__link_logo {
                        font-family: $logo-font;
                        font-size: 10vw;
                        height: auto !important;
                        position: absolute;
                        left: 35%;
                        transform: translate(-15%, 0%);
                    }
                }
            }

            #restaurant-main-section {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                width: 100%;

                .restaurant-main-section__img {
                    object-fit: cover;
                    width: 100%;
                    height: 40%;
                }

                .restaurant-main-section__box__important {
                    display: flex;
                    flex-direction: column;
                    flex-wrap: wrap;
                    width: 100%;

                    .restaurant-main-section__box__title {
                        flex-wrap: wrap;
                        width: 100%;
                        justify-content: space-between;
                        box-sizing: border-box;
                        border-top-left-radius: 15vw;
                        border-top-right-radius: 15vw;
                        background: $main-background;
                        margin-top: -12%;

                        .restaurant__name_heart {
                            display: flex;
                            align-items: center;
                            text-align: center;
                            justify-content: space-between;
                            padding: 5% 7% 0% 7%;
                            font-family: $logo-font;
                            font-size: 3vw;

                            .far {
                                font-size: x-large;
                            }
                        }

                        .restaurant--food--section {
                            display: flex;
                            flex-direction: column;
                            width: 100%;
                            font-family: $text-font;
                            flex-wrap: wrap;

                            .restaurant--courses--section {
                                width: auto;
                                margin: 10px;

                                .restaurant--dish {
                                    margin: 3%;
                                    font-size: 4vw;

                                    .underline--h3 {
                                        width: 12vw;
                                        height: 0.7vw;
                                        background-color: #99e2d0;
                                        margin-top: -5vw;
                                        padding: 0;
                                        margin-left: 0;
                                    }
                                }

                                .dish__menu__card {
                                    white-space: nowrap;
                                    display: flex;
                                    box-sizing: border-box;
                                    border-radius: 20px;
                                    box-shadow: $box-shadow;
                                    background: white;
                                    height: auto;
                                    margin: 2%;
                                    cursor: pointer;
                                    text-overflow: ellipsis;
                                    overflow: hidden;

                                    animation-name: slideFromTop;
                                    animation-duration: 2.5s;
                                    animation-fill-mode: backwards;

                                    &:hover {
                                        .card__check {
                                            background-color: #99e2d0;
                                        }

                                        .order__details {
                                            .dish__price {
                                                transform: translateX(-200%);
                                            }
                                        }

                                        .card__check .fas.fa-check-circle {
                                            animation: rotateIcon 1s linear 1;
                                        }
                                    }

                                    .order__details {
                                        display: flex;
                                        flex-direction: column;
                                        padding: 0 2%;
                                        width: 100%;
                                        font-size: 3.5vw;

                                        .restaurant__menu__dish {
                                            padding: 0 1%;
                                        }

                                        .restaurant__menu__ingridents {
                                            display: flex;
                                            flex-direction: row;
                                            flex-wrap: wrap;
                                            white-space: nowrap;
                                            align-items: center;
                                            justify-content: space-between;
                                            font-size: 3.5vw;
                                        }

                                        .dish__price {
                                            margin-right: -10%;
                                            transition: transform 200ms;
                                            font-weight: bold;
                                        }
                                    }

                                    .card__check {
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        background-color: transparent;
                                        transition: background-color 200ms;
                                        font-size: x-large;

                                        .fas.fa-check-circle {
                                            color: white;
                                            width: 70px;
                                            text-align: center;
                                            align-items: center;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}